/*
    Halo PC Strings.dll resource data
    Version 1.0.10.621
*/

LANGUAGE 7, 1

GUIDELINES DESIGNINFO
BEGIN
  0x1L       , 0x5ffffL   , 0x66ffffL  , 0x407L     , 0x18L      , 0xcL       , 0x47L      , 0x165L     ,
  0x0L
END
