/*
    Halo PC Strings.dll resource data
    Version 1.0.10.621
*/

#include "guidelines.rc"
#include "splash.rc"
#include "dialog.rc"
#include "stringtable.rc"
#include "icon.rc"

// Use Chimera Version information
#include "../../chimera/version.rc"
// #include "version.rc"

#include "unknown.rc"
