// SPDX-License-Identifier: GPL-3.0-only

#include "version.hpp"

1 VERSIONINFO
FILEVERSION      CHIMERA_VERSION_MAJOR,CHIMERA_VERSION_MINOR,CHIMERA_VERSION_PATCH,CHIMERA_GIT_COMMIT_COUNT
PRODUCTVERSION   CHIMERA_VERSION_MAJOR,CHIMERA_VERSION_MINOR,CHIMERA_VERSION_PATCH,CHIMERA_GIT_COMMIT_COUNT
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",         "It's still not finished"
            VALUE "CompanyName",      "Snowy ^.^"
            VALUE "FileDescription",  "The Halo PC update that never was."
            VALUE "FileVersion",      CHIMERA_VERSION_STRING
            VALUE "InternalName",     "chimera"
            VALUE "OriginalFilename", "strings.dll"
            VALUE "ProductName",      "Chimera"
            VALUE "ProductVersion",   CHIMERA_VERSION_STRING
            VALUE "LegalCopyright",   "'16'17'18 Snowy"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
